
/** CSS variables **/
:root {
  --main-background-color: #ecf2f6;
  --blue: #15A4FA;
  --green: #57C94D;
  --dark-gray: #293F4D;
  --gray: #A7B1B8;
  --light-gray: #DAE1E5;
  --yellow: #F7C428;
}

/** Structure **/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: var(--main-background-color);
}

.title {
  font-size: 1.5rem;
  color: var(--dark-gray);
  display: block;
  margin: 15px 0;
  font-weight: 400;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.25rem;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 576px) {
  .container {
      max-width: 540px;
  }
}

@media (min-width: 768px) {  
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {  
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/** Nav **/
.nav {
  padding: 4px 0;
  min-height: 50px;
  background-color: white;
  position: relative;
}

a.logo {
  text-decoration: none;
  color: var(--blue);
  font-size: 1.7rem;
  font-weight: 900;
  display: block;
  margin: 0 auto;
  width: 160px;
  text-align: center;
}

.user-buttons {
  position: absolute;
  top: 12px;
  right: 15px;
}

/** Components **/
.card {
  background: white;
  box-shadow: 0px 3px 10px rgba(41, 63, 77, 0.12);
  margin-bottom: 10px;
}

/** Home **/
.hero {
  background-image: url(https://images.unsplash.com/photo-1518463892881-d587bf2c296a?ixlib=rb-0.3.5…EyMDd9&s=496e94f…&auto=format&fit=crop&w=2600&q=80);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  color: white;
  text-shadow: 0px 2px 4px rgba(41, 63, 77, 0.3);
  min-height: 230px;
  height: 230px;
  display: flex;
  align-items: flex-end;
}

.hero .container {
  padding: 0 30px 30px;
}

.hero h1 {
  font-size: 2.2rem;
  font-weight: 400;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 0 5px;
  padding: 0 0 5px;
}

.hero .lead {
  margin: 0;
}

.search-bar {
  position: relative;
  margin: 30px 0;
}

.search-bar input::placeholder {
  color: var(--gray);
}

.search-bar input {
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 1.35rem;
  border: 0px;
  width: 100%;
  box-shadow: 0px 2px 10px rgba(41, 63, 77, 0.2);
  color: var(--gray);
}

.search-bar button {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  height: 36px;
  width: 36px;
  text-indent: -9000px;
  background-color: var(--gray);
  -webkit-mask-image: url(/static/media/magnifying-glass.0e7feb70.svg);
  mask-image: url(/static/media/magnifying-glass.0e7feb70.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 22px 22px;
  mask-size: 22px 22px;
  -webkit-mask-position: 7px 7px;
  mask-position: 7px 7px;
}

.search-bar button:focus {
  outline: none;
}

.search-bar input:focus {
  outline: none;
  box-shadow: 0px 9px 20px rgba(75, 72, 72, 0.3);
}

.path-slider-wrapper {
  display: flex;
  margin-bottom: 15px;
}

.path-card {
  background-color: white;
  box-shadow: 0px 3px 10px rgba(41, 63, 77, 0.12);
}

.path-card a {
  text-decoration: none;
  color: inherit;
  transition: opacity .2s;
}

.path-card a:hover {
  opacity: .7;
}

.path-card-col {
  margin-right: 15px;
}

.path-card-row {
  margin-bottom: 15px;
}
.path-card-row a {
  display: flex;
  flex-direction: row;
}

.card-image {
  width: 100px;
  height: 100px;
  display: block;
  background-color: var(--gray);
}

.path-card-col .card-image {
  width: 140px;
  height: 140px;
}

.card-body {
  flex: 1;
  padding: 5px 10px;
}

.card-body h3 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
}

.card-body h3 a {
  color: var(--dark-gray);
  text-decoration: none;
}

.path-stars {
  font-weight: 700;
  margin: 0;
  font-size: .85rem;
}

.icon-star {
  background-color: var(--yellow);
  -webkit-mask-image: url(img/star.svg);
  mask-image: url(img/star.svg);
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 5px;
}

.path-level {
  font-weight: 700;
  margin: 0;
  font-size: .85rem;
}

/** Path List **/

.path-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.search-result-item {
}

.path-item a {
  text-decoration: none;
  color: var(--dark-gray);
  font-weight: 600;
  font-size: 1.5em;
}

li.no-path-found {
  list-style: none;
  font-weight: 600;
  font-size: 2rem;
  font-variant: all-petite-caps;
  color: var(--dark-gray);
  text-align: center;
  margin-top: 80px;
}

/** Path page **/
.path .header {
  background: white;
  box-shadow: 0px 2px 5px rgba(4, 48, 74, 0.12);
  padding-bottom: 15px;
  z-index: 999;
  position: relative;
}
.path-title {
  min-height: 90px;
  margin-bottom: 15px;
}

.path-title span {
  font-size: 1.8rem;
  margin-left: 20px;
  color: #293f4d;
}

.path-title .path-image {
  min-width: 90px;
  min-height: 90px;
  content: "";
  float: left;
  background-color: var(--yellow);
}

.path-info {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #dae1e5;
  padding-bottom: 10px;
}

.path-info div,
.path-info span {
  flex-grow: 1;
}

.path-info .subscribers,
.path-info .level,
.path-info .ratings .rate {
  display: block;
  color: var(--dark-gray);
  font-weight: 600;
  font-size: 1.5rem;
}

.path-info .subscribers::before,
.path-info .level::before,
.path-info .ratings .count {
  display: block;
  color: var(--gray);
  font-size: 1.06rem;
  font-weight: 400;
}

.path-info .subscribers::before {
  content: "Subscribers";
}

.path-info .level::before {
  content: "Level";
}
.user-profile {
  border-bottom: 1px solid var(--light-gray);
  padding: 10px 0px 10px 0px;
  margin-bottom: 15px;
}
.user-profile .user-image {
  width: 70px;
  height: 70px;
  display: block;
  background-color: aquamarine;
  float: left;
  border-radius: 100%;
  margin-right: 20px;
}

.user-profile span {
  font-size: 1.9rem;
  color: var(--dark-gray);
  font-weight: 600;
}

.user-profile p {
  display: block;
  margin: 0px;
  color: var(--dark-gray);
  font-size: 1.06rem;
}

.path .details {
  padding: 0px;
  margin: 0px;
  display: flex;
}

.path .details span {
  padding-top: 10px;
  font-size: 1.7rem;
  color: var(--dark-gray);
  display: block;
}

.path-item-list {
  margin-top: 10px;
  list-style-type: unset;
  -webkit-padding-start: 0px;
  list-style: none;
}

.path-item {
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

/** Buttons **/
.btn {
  padding: 8px 16px;
  border: none;
  background: none;
  border-radius: 20px;
  background-color: var(--main-background-color);
  text-align: center;
  outline: none;
  text-decoration: none;
  color: var(--blue);;
}

.btn-subscribe {
  width: 335px;
  height: 40px;
  padding: 0;
  border: none;
  background: none;
  background: var(--blue);
  border-radius: 20px;
  color: white;
  font-size: 18px;
  text-align: center;
}

/** Forms **/
.login-form {
  width: 60%;
  height: 80%;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  margin-top: 3%;
  box-shadow: 0px 3px 10px rgba(41, 63, 77, 0.12);
  padding: 20px;
}
